<%= render 'layouts/navbar' %>

<h1><%= @question.title %></h1>

<p>
  <%= @question.body %>
</p>
<% if @question.user_id == current_user.id %>
  <a><%= link_to "Edit", edit_question_path(@question) %></a>
  <a><%= link_to "Delete", question_path(@question),
              :data => {:confirm => "Are you sure?",
                        :method => "delete"}%></a>
<% end %>

<% if @responses.any? %>
  <ul>
  <% @responses.each do |response| %>
    <li><%= response.content %>
      <% if response.user_id == current_user.id %>
      <%= link_to "Edit", edit_question_response_path(@question, response) %><%= link_to "Delete", question_response_path(@question, response),
                                                                                              :data => {:confirm => "oh NOOOOO",
                                                                                                        :method => "delete"}%></li>
      <% end %>
  <% end %>
  </ul>
<% end %>

<%= render 'responses/form' %>
