<%= render 'layouts/navbar' %>

<h1><%= @question.title %></h1>

<p>
  <%= @question.body %>
</p>



  <ul id="responses">
  <% @responses.each do |response| %>
    <%= render response %>
  <% end %>
  </ul>


<div id="new_response_form">
  <h4>Respond to this question:</h4>
  <%= render 'responses/form' %>
</div>
